In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
book_data=pd.read_csv("Books.csv")
book_data

C:\Users\abc\AppData\Local\Temp\ipykernel_8752\3491774872.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book_data=pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [3]:
book_data.shape

(271360, 8)

In [4]:
book_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [5]:
book_data.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
book_data.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
book_data.duplicated().sum()

0

In [8]:
book_data.dropna(inplace=True)

In [9]:
book_data.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [10]:
book_data.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [11]:
book_data=book_data.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'])

In [12]:
book_data.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [13]:
user_data=pd.read_csv("Users.csv")

In [14]:
user_data.head(5)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [15]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [16]:
user_data.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [17]:
user_data['Age'].mean()

34.75143370454978

In [18]:
user_data.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [19]:
user_data['Age']=user_data['Age'].fillna(user_data['Age'].mean())

In [20]:
user_data.isnull().sum()

User-ID     0
Location    0
Age         0
dtype: int64

In [21]:
user_data.duplicated().sum()

0

In [22]:
rating_data=pd.read_csv("Ratings.csv")
rating_data

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [23]:
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [24]:
rating_data["Book-Rating"].value_counts()

Book-Rating
0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: count, dtype: int64

In [25]:
book_rating=rating_data.merge(book_data,on="ISBN")

In [26]:
book_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
...,...,...,...,...,...,...,...
1031123,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub
1031124,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation
1031125,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple
1031126,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA
1031127,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing

In [27]:
book_rating_user=book_rating.merge(user_data,on="User-ID")

In [28]:
book_rating_user

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"tyler, texas, usa",34.751434
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"cincinnati, ohio, usa",23.000000
2,2313,0812533550,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,"cincinnati, ohio, usa",23.000000
3,2313,0679745580,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,"cincinnati, ohio, usa",23.000000
4,2313,0060173289,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,"cincinnati, ohio, usa",23.000000
...,...,...,...,...,...,...,...,...,...
1031123,276442,2862749796,7,Le Huit,Katherine Neville,2002,Le Cherche Midi,"genÃ¨ve, genÃ¨ve, switzerland",62.000000
1031124,276618,3788097000,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,1984,C.F. MÃƒÂ¼ller,"stuttgart, \n/a\""., germany""",34.751434
1031125,276647,0553571001,0,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,2001,Starfire,"arlington heights, illinois, usa",13.000000
1031126,276647,0689822294,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,1998,Simon &amp; Schuster Children's Publishing,"arlington heights, illinois, usa",13.000000
1031127,276660,0583307841,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,1985,HarperCollins Publishers,"singapore, n/a, singapore",15.000000

In [29]:
book_rating_user.drop(columns=['Age','ISBN','Year-Of-Publication'],inplace=True)

In [30]:
#book_rating_user['tags']=book_rating_user['Book-Title']+book_rating_user['Book-Author']+book_rating_user['Publisher']

In [31]:
#book_rating_user.drop(columns=['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher','Location','Age'],inplace=True)

In [32]:
book_rating_user

,User-ID,Book-Rating,Book-Title,Book-Author,Publisher,Location
0,276725,0,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,"tyler, texas, usa"
1,2313,5,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,"cincinnati, ohio, usa"
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,"cincinnati, ohio, usa"
3,2313,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,Vintage,"cincinnati, ohio, usa"
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,HarperCollins,"cincinnati, ohio, usa"
...,...,...,...,...,...,...
1031123,276442,7,Le Huit,Katherine Neville,Le Cherche Midi,"genÃ¨ve, genÃ¨ve, switzerland"
1031124,276618,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,C.F. MÃƒÂ¼ller,"stuttgart, \n/a\""., germany"""
1031125,276647,0,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,Starfire,"arlington heights, illinois, usa"
1031126,276647,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,Simon &amp; Schuster Children's Publishing,"arlington heights, illinois, usa"
1031127,276660,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,HarperCollins Publishers,"singapore, n/a, singapore"

In [33]:
# Rename columns for clarity
book_rating_user.rename(columns={
    "Book-Title": "title",
    "Book-Author": "author",
    "Publisher": "publisher",
    "User-ID": "user_id",
    "Book-Rating": "book_rating"
}, inplace=True)

In [34]:
book_rating_user.author.value_counts()

author
Stephen King          10053
Nora Roberts           8429
John Grisham           6010
James Patterson        5845
Mary Higgins Clark     4777
                      ...
Dan Klein                 1
David Footman             1
Kevin Desmond             1
Angela Harrison           1
David Antony Kroft        1
Name: count, Length: 101584, dtype: int64

In [35]:
# Create a country column at the place of location 

book_rating_user['Country'] = book_rating_user['Location'].astype(str).apply(lambda x:x.split(',')[-1])
# Drop the location column

book_rating_user.drop('Location',axis=1,inplace=True) # inplace =True means we are changing original datafram itself

In [36]:
book_rating_user

,user_id,book_rating,title,author,publisher,Country
0,276725,0,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa
1,2313,5,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,usa
3,2313,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,Vintage,usa
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,HarperCollins,usa
...,...,...,...,...,...,...
1031123,276442,7,Le Huit,Katherine Neville,Le Cherche Midi,switzerland
1031124,276618,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,C.F. MÃƒÂ¼ller,"germany"""
1031125,276647,0,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,Starfire,usa
1031126,276647,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,Simon &amp; Schuster Children's Publishing,usa
1031127,276660,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,HarperCollins Publishers,singapore

In [37]:
# fix the unknown and missing values

book_rating_user['Country'] = book_rating_user['Country'].replace(' ','other').replace(' n/a','other')

In [38]:
book_rating_user

,user_id,book_rating,title,author,publisher,Country
0,276725,0,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa
1,2313,5,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,usa
3,2313,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,Vintage,usa
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,HarperCollins,usa
...,...,...,...,...,...,...
1031123,276442,7,Le Huit,Katherine Neville,Le Cherche Midi,switzerland
1031124,276618,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,C.F. MÃƒÂ¼ller,"germany"""
1031125,276647,0,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,Starfire,usa
1031126,276647,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,Simon &amp; Schuster Children's Publishing,usa
1031127,276660,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,HarperCollins Publishers,singapore

### Popularity Based Recommendation

In [39]:
# Create column average ratings using groupby on book title because some of the books have same book title but different isbn number.

book_rating_user['Avg_Ratings'] =  book_rating_user.groupby('title')['book_rating'].transform('mean')

# Create column number of ratings
book_rating_user['No_Of_Ratings'] = book_rating_user.groupby('title')['book_rating'].transform('count')

# Create new data frame popular_df
df= book_rating_user[['title','Avg_Ratings','No_Of_Ratings']]

In [40]:
# Drop duplicate books

df.drop_duplicates('title',inplace=True)

C:\Users\abc\AppData\Local\Temp\ipykernel_8752\2857444268.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates('title',inplace=True)

In [41]:
df

,title,Avg_Ratings,No_Of_Ratings
0,Flesh Tones: A Novel,2.933333,60
2,Ender's Game (Ender Wiggins Saga (Paperback)),5.409639,249
3,In Cold Blood (Vintage International),2.836364,55
4,Divine Secrets of the Ya-Ya Sisterhood : A Novel,3.453846,130
5,The Mistress of Spices,3.688889,90
...,...,...,...
1031123,Le Huit,7.000000,1
1031124,Ludwig Marum: Briefe aus dem Konzentrationslag...,5.000000,1
1031125,Christmas With Anne and Other Holiday Stories:...,0.000000,1
1031126,Heaven (Coretta Scott King Author Award Winner),10.000000,1
1031127,ROBOT RACE (MICRO ADV 6),8.000000,1

In [42]:
# Applying a constraint of number of ratings greater tha 200 to only keep the most popular books 

df =df[df['No_Of_Ratings']>200].sort_values('Avg_Ratings',ascending=False)

In [43]:
# Top 10 recommended books
df.head(10)

,title,Avg_Ratings,No_Of_Ratings
12540,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428
12541,Harry Potter and the Goblet of Fire (Book 4),5.824289,387
747,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278
2786,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347
2,Ender's Game (Ender Wiggins Saga (Paperback)),5.409639,249
2347,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556
2354,The Hobbit : The Enchanting Prelude to The Lor...,5.007117,281
12188,The Fellowship of the Ring (The Lord of the Ri...,4.948370,368
673,Harry Potter and the Sorcerer's Stone (Harry P...,4.895652,575
3763,"The Two Towers (The Lord of the Rings, Part 2)",4.880769,260

In [44]:
book_rating_user.duplicated().sum()

524

In [45]:
book_rating_user.drop_duplicates(inplace=True)

In [46]:
book_rating_user

,user_id,book_rating,title,author,publisher,Country,Avg_Ratings,No_Of_Ratings
0,276725,0,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa,2.933333,60
1,2313,5,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa,2.933333,60
2,2313,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,usa,5.409639,249
3,2313,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,Vintage,usa,2.836364,55
4,2313,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,HarperCollins,usa,3.453846,130
...,...,...,...,...,...,...,...,...
1031123,276442,7,Le Huit,Katherine Neville,Le Cherche Midi,switzerland,7.000000,1
1031124,276618,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,C.F. MÃƒÂ¼ller,"germany""",5.000000,1
1031125,276647,0,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,Starfire,usa,0.000000,1
1031126,276647,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,Simon &amp; Schuster Children's Publishing,usa,10.000000,1
1031127,276660,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,HarperCollins Publishers,singapore,8.000000,1

### Content Based Recommendation

In [47]:
Content_based =book_rating_user[["title","author","publisher","Country"]]
Content_based

,title,author,publisher,Country
0,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa
1,Flesh Tones: A Novel,M. J. Rose,Ballantine Books,usa
2,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,Tor Books,usa
3,In Cold Blood (Vintage International),TRUMAN CAPOTE,Vintage,usa
4,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,HarperCollins,usa
...,...,...,...,...
1031123,Le Huit,Katherine Neville,Le Cherche Midi,switzerland
1031124,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,C.F. MÃƒÂ¼ller,"germany"""
1031125,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,Starfire,usa
1031126,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,Simon &amp; Schuster Children's Publishing,usa
1031127,ROBOT RACE (MICRO ADV 6),David Antony Kroft,HarperCollins Publishers,singapore

In [48]:
# Removing all the spaces between the words and combing them into a letter
def remove(string):
    ns=""
    for i in string:
        if(not i.isspace()):
            ns+=i
    return ns   
Content_based["author"] = Content_based["author"].apply(remove)
Content_based["publisher"]   = Content_based["publisher"].apply(remove)

C:\Users\abc\AppData\Local\Temp\ipykernel_8752\3953618702.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Content_based["author"] = Content_based["author"].apply(remove)
C:\Users\abc\AppData\Local\Temp\ipykernel_8752\3953618702.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Content_based["publisher"]   = Content_based["publisher"].apply(remove)

In [49]:
Content_based["tags"] = Content_based["author"] + "," + Content_based["publisher"] + "," + Content_based["Country"]

C:\Users\abc\AppData\Local\Temp\ipykernel_8752\4175452529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Content_based["tags"] = Content_based["author"] + "," + Content_based["publisher"] + "," + Content_based["Country"]

In [50]:
Content_based

,title,author,publisher,Country,tags
0,Flesh Tones: A Novel,M.J.Rose,BallantineBooks,usa,"M.J.Rose,BallantineBooks, usa"
1,Flesh Tones: A Novel,M.J.Rose,BallantineBooks,usa,"M.J.Rose,BallantineBooks, usa"
2,Ender's Game (Ender Wiggins Saga (Paperback)),OrsonScottCard,TorBooks,usa,"OrsonScottCard,TorBooks, usa"
3,In Cold Blood (Vintage International),TRUMANCAPOTE,Vintage,usa,"TRUMANCAPOTE,Vintage, usa"
4,Divine Secrets of the Ya-Ya Sisterhood : A Novel,RebeccaWells,HarperCollins,usa,"RebeccaWells,HarperCollins, usa"
...,...,...,...,...,...
1031123,Le Huit,KatherineNeville,LeChercheMidi,switzerland,"KatherineNeville,LeChercheMidi, switzerland"
1031124,Ludwig Marum: Briefe aus dem Konzentrationslag...,LudwigMarum,C.F.MÃƒÂ¼ller,"germany""","LudwigMarum,C.F.MÃƒÂ¼ller, germany"""
1031125,Christmas With Anne and Other Holiday Stories:...,L.M.Montgomery,Starfire,usa,"L.M.Montgomery,Starfire, usa"
1031126,Heaven (Coretta Scott King Author Award Winner),AngelaJohnson,Simon&amp;SchusterChildren'sPublishing,usa,"AngelaJohnson,Simon&amp;SchusterChildren'sPubl..."
1031127,ROBOT RACE (MICRO ADV 6),DavidAntonyKroft,HarperCollinsPublishers,singapore,"DavidAntonyKroft,HarperCollinsPublishers, sing..."

In [51]:
Content_based.drop(["author","publisher","Country"],axis=1,inplace=True)

C:\Users\abc\AppData\Local\Temp\ipykernel_8752\832966106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Content_based.drop(["author","publisher","Country"],axis=1,inplace=True)

In [90]:
data=Content_based.head(5000)
data

,title,tags
0,Flesh Tones: A Novel,"M.J.Rose,BallantineBooks, usa"
1,Flesh Tones: A Novel,"M.J.Rose,BallantineBooks, usa"
2,Ender's Game (Ender Wiggins Saga (Paperback)),"OrsonScottCard,TorBooks, usa"
3,In Cold Blood (Vintage International),"TRUMANCAPOTE,Vintage, usa"
4,Divine Secrets of the Ya-Ya Sisterhood : A Novel,"RebeccaWells,HarperCollins, usa"
...,...,...
5000,Love: Undercover,"HaileyNorth,Avon, usa"
5001,"My Sexiest Mistake (Blaze, 44)","KristinHardy,Harlequin, usa"
5002,When the Laird Returns: Book Two of The Highla...,"KarenRanney,Avon, usa"
5003,Getting Her Man,"MicheleAlbert,Avon, usa"
5004,Slightly Sinful,"MARYBALOGH,Dell, usa"

In [91]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000)

In [92]:
vector = (cv.fit_transform(data["tags"])).toarray()

In [93]:
vector.shape

(5000, 3630)

In [94]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_content = cosine_similarity(vector)

In [95]:
def recommend_content(book_name):
    index = data[data["title"]== book_name].index[0]
    distances = sorted(list(enumerate(similarity_content[index])),reverse=True,key = lambda x: x[1])
    books_recommended =[]
    for i in distances[1:6]:
         books_recommended.append(data.iloc[i[0]]["title"])
    return books_recommended

In [100]:
recommend_content("Timeline")

['Echoes',
 'The Return Journey',
 'The Glass Lake',
 'Circle of Friends',
 'This Year It Will Be Different: And Other Stories']